body{
    margin: 0;
    font-family: 'poppins' , sans-serif;
    background: #0d0d1a;
    color: #fff;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: rgba(10, 10, 40, 0.6);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #5d2cff;
    box-shadow: 0 0 20px #5d2cff80;
}

h2{
    font-size: 50px;
}

h3 {
    font-size:30px;
}

h2, h3 {
    text-align: center;
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

h1, label {
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff;
    font-weight: 600;
}

.resultado {
    background: rgba(20, 20, 60, 0.4);
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #8226ff;
    box-shadow: 0 0 15px #8226ff60;
    
}

input[type="text"] {
    
    padding: 15px;
    margin: 10px 0 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #161632;
    color: #fff;
    border: 1px solid #8226ff;
    box-shadow: 0 0 10px #8226ff50;
}

input::placeholder {
    color: #bbbbff;
}

#contar {
    background: #00eaff;
    color: #000;
    text-shadow: 0 0 5px #fff;
    box-shadow: 0 0 15px #00eaff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}

#contar:hover {
    background: #00bcd4;
    box-shadow: 0 0 25px #00eaff;
}

